@charset "utf-8";
/**************************
            font
**************************/
//open san(semibold 600)
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
//notno san(regular 400)
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Open+Sans:wght@600&display=swap');

$font_open: 'Open Sans', sans-serif;
$font_en: 'Noto Sans JP', sans-serif;


/**************************
            color
**************************/
$main_color: #e6d9ff;
$text_color: #ffffff;
$bold_color: #e6ccff;



/***************************************************
                     top page
****************************************************/
main{
    border: 3px solid $main_color;
    padding: 100px;
}

.top{
    a{
        max-width: 300px;
        margin: 0 auto;
    }

    img{
        width: 100%;
    }
}